vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300969290
vti_modifiedby:SR|DESKTOP-3BD3MU5\\Andy
vti_timelastmodified:TR|12 Dec 2017 23:42:04 -0000
vti_timecreated:TR|12 Dec 2017 22:31:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week10/Home.html Week10/WhitehavenBeach.html Week10/Week10Template.dwt Week10/PinkSandsBeach.html Week10/PhiPhiIsland.html Week10/Anguilla.html
vti_nexttolasttimemodified:TR|12 Dec 2017 23:41:33 -0000
vti_cacheddtm:TX|12 Dec 2017 23:42:04 -0000
vti_filesize:IR|625
vti_cachedlinkinfo:VX|S|images/BeachTripHeader.png
vti_cachedsvcrellinks:VX|FSUS|Week10/images/BeachTripHeader.png
