vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300969290
vti_modifiedby:SR|DESKTOP-3BD3MU5\\Andy
vti_timelastmodified:TR|29 Nov 2017 01:49:44 -0000
vti_timecreated:TR|22 Nov 2017 00:36:19 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Assignment3/Assign3Details.html Assignment3/Assignment3.html
vti_nexttolasttimemodified:TW|29 Nov 2017 01:48:54 -0000
vti_cacheddtm:TX|29 Nov 2017 01:49:44 -0000
vti_filesize:IR|737
vti_cachedlinkinfo:VX|S|images/ec_logo.gif
vti_cachedsvcrellinks:VX|FSUS|Assignment3/images/ec_logo.gif
