vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300969290
vti_modifiedby:SR|CENCOL\\300969290
vti_timelastmodified:TR|19 Dec 2017 22:41:14 -0000
vti_timecreated:TR|05 Dec 2017 23:36:06 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Assignment4/Assignment4.html
vti_nexttolasttimemodified:TR|19 Dec 2017 22:40:14 -0000
vti_cacheddtm:TX|19 Dec 2017 22:41:14 -0000
vti_filesize:IR|863
