vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300969290
vti_modifiedby:SR|CENCOL\\300969290
vti_timelastmodified:TR|21 Nov 2017 23:23:18 -0000
vti_timecreated:TR|10 Oct 2017 21:15:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TW|21 Nov 2017 23:23:08 -0000
vti_backlinkinfo:VX|Week07/Week07.html
vti_cacheddtm:TX|21 Nov 2017 23:23:18 -0000
vti_filesize:IR|1507
vti_cachedlinkinfo:VX|S|images/trilliumminibanner.jpg S|images/nature-background.jpg S|images/trilliumbg.gif S|images/trillium.gif S|images/trilliumfoot.gif
vti_cachedsvcrellinks:VX|FSUS|Week07/images/trilliumminibanner.jpg FSUS|Week07/images/nature-background.jpg FSUS|Week07/images/trilliumbg.gif FSUS|Week07/images/trillium.gif FSUS|Week07/images/trilliumfoot.gif
