vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300969290
vti_modifiedby:SR|CENCOL\\300969290
vti_timelastmodified:TW|10 Oct 2017 22:27:42 -0000
vti_timecreated:TR|10 Oct 2017 21:15:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week06/Week06.html
vti_nexttolasttimemodified:TW|10 Oct 2017 22:27:42 -0000
vti_cacheddtm:TX|10 Oct 2017 22:27:42 -0000
vti_filesize:IR|1154
vti_cachedlinkinfo:VX|S|images/trilliumbanner.jpg S|images/trilliumgradient.png S|images/trillium.gif S|images/trilliumbg.gif S|images/trilliumfoot.gif
vti_cachedsvcrellinks:VX|FSUS|Week06/images/trilliumbanner.jpg FSUS|Week06/images/trilliumgradient.png FSUS|Week06/images/trillium.gif FSUS|Week06/images/trilliumbg.gif FSUS|Week06/images/trilliumfoot.gif
