body {
	font-family: Arial, Helvetica, sans-serif;
	color: dimgrey;
	background-image: url('images/trilliumgradient.png');
}
h1 {
	background-image: url('images/CC50thAnniversary.jpg');
	background-repeat: no-repeat;
	font-weight: 600;
	font-variant: small-caps;
	text-transform: capitalize;
	padding-left: 205px;
	height: 104px;
	background-size: 100px 104px;
	font-size: 1.2em;
}
.fieldLabel {
	text-align: right;
	vertical-align: top;
}
footer {
	color: #FFFFFF;
	font-size: small;
	background-color: #663300;
	padding: 3px;
}
#allPage {
	width: 980px;
}
